set mapleader =","
set easymotion
set commentary
set clipboard+=unnamedplus
set scrolloff=5
set incsearch
nnoremap c "_c
set number relativenumber
" Enable autocompletion:
set wildmode=longest,list,full
" Perform dot commands over visual blocks:
vnoremap . :normal .<CR>
" Easymotion
map <leader><leader>. <Plug>(easymotion-repeat)
map <leader><leader>f <Plug>(easymotion-bd-f)
map <leader><leader>j <Plug>(easymotion-bd-line)
map <leader><leader>k <Plug>(easymotion-bd-line)
map <leader><leader>w <Plug>(easymotion-bd-w)

" Shortcutting split navigation, saving a keypress:
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" Replace ex mode with gq
map Q gq

" Replace all is aliased to S.
nnoremap S :%s//g<Left><Left>

" Compile document, be it groff/LaTeX/markdown/etc.
map <leader>c :w! \| !compiler "<c-r>%"<CR>

" Open corresponding .pdf/.html or preview
map <leader>p :!opout <c-r>%<CR><CR>

map gh <Action>(QuickJavaDoc)
map ge <Action>(ShowErrorDescription)
map gi <Action>(QuickImplementations)
map gj <Action>(QuickTypeDefinition)
